<div class="container">
	<div class="row">
    <div class="col-md-4"></div>
		<div class="col-md-6">
			<%= form_for(:session, url: sessions_path) do |f| %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.submit "vstup!", class: "btn btn-large btn-primary" %>
			<% end %>
      </div>
  </div>
</div>