<% provide(:title, "Přihlášení") %>

<%= form_for(:session, url: sessions_path) do |f| %>

<p class="container">
	<div class="row">
		<%= f.label :email, class: "col col-md-1 control-label" %>
		<div class="col-md-11">
			<%= f.text_field :email, class: "black-field" %>
		</div>
	</div>

	<div class="row">
		<%= f.label "heslo", class: "col col-md-1 control-label" %>
		<div class="col-md-11">
			<%= f.password_field :password, class: "black-field" %>
		</div>
	</div>

	<div class="col-md-12">
		<%= f.submit "přihlaš se!", class: "btn btn-default margin-top" %>
		<% end %>
	</div>
</p>