<div id="novyzapisbtn">
  <% if signed_in? %>
    <%= link_to 'zapsat novou práci?', new_prace_polozka_path, :class => "kontrastbtn" %>
  <% end %>
</div>

<div class="padding">
	<div class="panel panel-default">
		<div class="panel-body center">

			<% if signed_in? %>
			<table id="prace_polozkas" class="table table-condensed table-hover table-bordered">
				<thead>
					<tr>
						<th>Datum</th>
						<th>Jméno</th>
						<th>Práce pro projekt</th>
						<th>Náplň práce</th>
						<th>Počet hodin</th>
						<th></th>
						<th class="cellaccent"></th>
					</tr>
				</thead>

				<tbody>
					<% @prace_polozkas.each do |prace_polozka| %>
					<tr>
						<td><%= prace_polozka.datum %></td>
						<td><%= Osoba.find_by(id: prace_polozka.osoba_id).jmeno + " " + Osoba.find_by(id: prace_polozka.osoba_id).prijmeni %></td>
						<td><%= Projekt.find_by(id: prace_polozka.projekt_id).nazev %></td>
						<td><%= prace_polozka.obsah %></td>
						<td><%= prace_polozka.hodiny %></td>
                        
						<td>
              <% if current_user.osoba_id == 8 or current_user.osoba_id == Osoba.find_by(id: prace_polozka.osoba_id).id  %>
              <%= link_to 'Upravit', edit_prace_polozka_path(prace_polozka) %>
              <% end %>
            </td>
						            
            <td>
              <% if current_user.osoba_id == 8 or current_user.osoba_id == Osoba.find_by(id: prace_polozka.osoba_id).id  %>
              <%= link_to 'Smazat', prace_polozka, method: :delete, data: { confirm: 'Rozmysli si, Maruško, rozmysli!' } %></td>
				      <% end %>
          </tr>
					<% end %>

				</tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>

			<div class="container">
				<div class="row">
          <% else %>
					<%= link_to "přihlaš se!", signin_path, :class => "btn btn-lg btn-warning" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

