<div class="padding">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-condensed table-hover">
					<thead>
						<tr>
							<th class="col-sm-1">Datum</th>
							<th class="col-sm-1.5">Jméno</th>
							<th class="col-sm-2.5">Práce pro projekt</th>
							<th class="col-sm-4">Náplň práce</th>
							<th class="col-sm-1">Počet hodin</th>
							<th class="col-sm-1"></th>
							<th class="col-sm-1"></th>
						</tr>
					</thead>

					<!--TODO HERE
					vytvorit dropdown, ktery umozni podminene zobrazovat pouze zaznamy napr. od Marusky, nebo k danemu projektu
					pripadne jako dalsi krok umozni zobrazit zaznamy z casoveho rozmezi.-->

					<tbody>
						<% if signed_in? %>
						<div class="well">
							<div class="col-sm-10">
								V zobrazeném období zaznamenáno <%= @aktualni_hodiny %> hodin práce, tj. <%= @aktualni_hodiny * 50 %> peněz.
							</div>
							<div class="col-sm-2" id="toggle_table">
								pouze ja <% %> vsichni
							</div>
						</div>
						<% @prace_polozkas.where(osoba_id: current_user.osoba_id).each do |prace_polozka| %>
						<tr>
							<td><%= prace_polozka.datum %></td>
							<td><%= Osoba.find_by(id: prace_polozka.osoba_id).jmeno + " " + Osoba.find_by(id: prace_polozka.osoba_id).prijmeni %></td>
							<td><%= Projekt.find_by(id: prace_polozka.projekt_id).nazev %></td>
							<td><%= prace_polozka.obsah %></td>
							<td><%= prace_polozka.hodiny %></td>
							<td><%= link_to 'Upravit záznam', edit_prace_polozka_path(prace_polozka) %></td>
							<td><%= link_to 'Smazat záznam', prace_polozka, method: :delete, data: { confirm: 'Rozmysli si, Maruško, rozmysli!' } %></td>
							<!-- TODO zmenit confirm dialog na inline potvrzeni + undo (i dole)-->

						</tr>
						<% end %>
						<% else %>
						<% @prace_polozkas.each do |prace_polozka| %>
						<tr>
							<td><%= prace_polozka.datum %></td>
							<td><%= Osoba.find_by(id: prace_polozka.osoba_id).jmeno + " " + Osoba.find_by(id: prace_polozka.osoba_id).prijmeni %></td>
							<td><%= Projekt.find_by(id: prace_polozka.projekt_id).nazev %></td>
							<td><%= prace_polozka.obsah %></td>
							<td><%= prace_polozka.hodiny %></td>
							<td><%#= link_to 'Upravit záznam', edit_prace_polozka_path(prace_polozka) %></td>
							<td><%#= link_to 'Smazat záznam', prace_polozka, method: :delete, data: { confirm: 'Rozmysli si, Maruško, rozmysli!' } %></td>
						</tr>
						<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

